.BodyContainer {
	height: 100%;
	width: 100%;
	background-color: #101010;
	display: flex;
	flex-direction: row;
}

.TierlistContainer {
	width: 70%;
}

.CardbankContainer {
	width: 30%;
	border-right: #383838 2px solid;
}
