.PremadeLists {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 1.5rem;
}

.TemplateLogo {
	width: 40%;
	border: 1px solid transparent;
	margin-bottom: 2rem;
}

.TemplateLogo:hover {
	cursor: pointer;
	border: 1px solid #7fff7f;
}

.TemplateContainer {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
}
.templateTopTextContainer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.templateTopText {
	text-decoration: underline;
	font-size: 2rem;
}
