.TierlistContainer {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.TierListTextInfo {
	width: 50%;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5rem;
}

.TierListTextInfo > h1 {
	font-size: 3rem;
	text-decoration: underline;
	text-underline-offset: 0.8rem;
	margin-bottom: 2rem;
}

.TierListTextInfo > p {
	font-size: 1.25rem;
}
.TierList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 65%;
	height: 65%;
	border: 2px solid #383838;
	background-color: #141412;
	border-bottom: none;
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
}

.tier-row {
	font-size: x-large;
	width: 100%;
	height: 20%;
	border-bottom: #383838 2px solid;
	display: flex;
	flex-direction: row;
}

.characters {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.characterCard {
	height: 100%;
	width: 12.5%;
}
.characterCard > img {
	height: 100%;
	width: 100%;
}

.tier-name {
	border-right: #383838 2px solid;
	width: 12.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.S-tier {
	background-color: #ff7f7f;
}

.A-tier {
	background-color: #ffbf7f;
}

.B-tier {
	background-color: #ffdf7f;
}

.C-tier {
	background-color: #bfff7f;
}

.D-tier {
	background-color: #7fff7f;
}

.tier-row.D {
	/* border-bottom: none; */
}

.TopOfTierlistContainer {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.listLogoContainer {
	width: 25%;
	height: 100%;
}

.listLogo {
	width: 100%;
	height: 100%;
}
