.TierlistContainer {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.TopOfTierlistContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.TierListTextInfo {
	width: 50%;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
}

.TierListTextInfo > h1 {
	font-size: 3rem;
	text-decoration: underline;
	text-underline-offset: 0.8rem;
	margin-bottom: 2rem;
}

.TierListTextInfo > p {
	font-size: 1.25rem;
}

.TierList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 77.5%;
	border: 2px solid #383838;
	background-color: #141412;
	border-bottom: none;
	margin-bottom: 1rem;
}

.tier-row {
	border-bottom: #383838 2px solid;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.tier-name {
	width: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 1.5rem;
	flex-shrink: 0;
	box-shadow: inset 0 0 0 1px #000000;
}

.characterImages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.characterImage {
	width: 7rem;
	height: 7rem;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
}

.rowContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
}
