.TierlistContainer {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.TopOfTierlistContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	width: 70%;
	gap: 2rem;
	background-color: #141412;
	border-radius: 10px;
	border: 2px solid #383838;
	margin-bottom: 1rem;
}
.listLogoContainer {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.listLogo {
	height: 12rem;
	border: 1px solid #383838;
}

.TierListTextInfo {
	width: 50%;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
}

.TierListTextInfo > h1 {
	font-size: 3rem;
	text-decoration: underline;
	text-underline-offset: 0.8rem;
	margin-bottom: 2rem;
}

.TierListTextInfo > p {
	font-size: 1.25rem;
}

.TierList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 48.25rem;
	max-width: 48.25rem;
	min-height: 25rem;
	border: 2px solid #383838;
	background-color: #141412;
	border-bottom: none;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.tier-row {
	border-bottom: #383838 2px solid;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 6.15rem; /* Update the min-height property */
	width: 100%;
}

.tier-name {
	width: 6rem;
	min-height: 6.05rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 1.5rem;
	flex-shrink: 0;
	box-shadow: inset 0 0 0 1px #000000;
}

.characterImages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.characterImage {
	width: 6rem;
	height: 6rem;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
}
.characterImage:hover {
	cursor: grab;
}

.rowContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.CharacterBank {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	width: 47rem;
	height: auto;
	min-height: 6rem;
	margin: 1rem;
	padding: 0.5rem;
	background-color: #141412;
	border-radius: 10px;
	border: #383838 1px solid;
	gap: 0.1rem;
	row-gap: 0.25rem;
}
.characterImageBank {
	height: 5rem;
	width: 5rem;
}

.tierlistButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	margin-bottom: 0.5rem;
}
.tierlistButtonContainer > input {
	padding: 0.6em 1.2em;
	background-color: #101010;
	height: 2rem;
}

.tierlistButtonContainer > input:focus {
	outline: none;
	border: 2px solid #7fff7f;
	outline: 4px auto -webkit-focus-ring-color;
}

.tierListButton {
	margin: 0.5rem;
	width: 11rem;
	height: 3rem;
}
.placeholder2 {
	/* background-color: #b2bb4a4f; */
	color: #999;
	height: 6rem;
	width: 3rem;
	position: absolute;
	margin-left: 3rem;
	z-index: 1;
	display: none;
}

.placeholder1 {
	/* background-color: #ff00004a; */
	color: #99999900;
	height: 6rem;
	width: 3rem;
	margin-right: -3rem;
	z-index: 1;
	display: none;
}

.characterContainer {
	position: relative;
	display: flex;
	align-items: center;
}

.placeholder2.dragging,
.placeholder1.dragging {
	/* background-color: rgba(6, 255, 43, 0.525); */
	display: block;
}

.tierNameInput {
	width: 5rem;
	height: 5rem;
	text-align: center;
	border: none;
	color: black;
	font-size: 1.5rem;
}
.tierNameInput:focus {
	border: none;
	outline: none;
}
input.dragging {
	pointer-events: none;
}

.characterImage.noDrag {
	cursor: auto;
}

.characterImageBank.dragging {
	pointer-events: none;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal-content {
	background-color: #141412;
	padding: 3rem;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #7fff7f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modal-content h3 {
	font-size: 1.75rem;
	margin-bottom: 1rem;
	text-decoration: underline;
	margin-bottom: 1rem;
}

.modal-content p {
	font-size: 1rem;
}

.otherButton {
	padding: 8px 16px;
	background-color: #367e39;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	width: auto;
	cursor: pointer;
}

.otherButton:hover {
	background-color: #37a83d;
}

.closeButton {
	background-color: #367e39;
	margin-top: 0.15rem;
	margin-right: 0.15rem;
	border-radius: 10px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 5px;
}
.closeButton:hover {
	background-color: #ab2020;
	border: 1px solid transparent;
}

.tier-config {
	display: flex;
	flex: 1;
	align-items: center;
	background: #000000;
	border-bottom: 2px solid #383838;
	padding-right: 0.25rem;
}
.btn {
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
}
.tier.fa {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 2rem;
	color: #ffff;
	padding-left: 5px;
}
.tier.fa:hover {
	transform: none;
	color: #bbbbbb;
}
